@import url("./variable.css");
@import url("./reset.css");

.heading{
    margin: 2% 1%;
    font-size: 1.7em;
}
.movie-detail__banner{
    width: 100%;
    position: relative;
}
.movie-detail__banner--image{
    width: 100%;
    height: calc(70vh - 37px);
    object-fit: cover;
}

.movie-detail{
    display: var(--display-flex);
    flex-direction: var(--flex-row-direction);
    margin: 4% auto;
    justify-content: space-between;
}
.movie-detail__description {
    width: 48%;
}
.movie-detail__summary {
    padding: 1%;
    line-height: 22px;
}
.movie-detail__categories {
    width: 48%;
    background: #f3f3f3;
    border-radius: 10px;
}
.category__list {
    padding: 10px 20px;
}
.category__item {
    border-bottom: 2px solid #dcdcdc;
    display: var(--display-flex);
    padding: 3%;
}
.category__item:last-child{
    border-bottom: 0px;
}
.category__item--heading{
    width:20%;
}
.category__item .cast{
    margin-left: 13%;
}
.category__item--detail {
    font-size: 0.8em;
    line-height: 20px;
}
a.category__item--detail:hover{
    color:#787878;
}


.movie__related{
    display: var(--display-flex);
    margin: var(--element-center);
}
@media screen and (max-width:800px){
    .movie-detail{
        flex-wrap: wrap;
    }
    .movie-detail__description {
        width: 100%;
        padding: 2%;
    }
    .movie-detail__categories {
        width: 100%;
        margin: 2%;
    }
        .movie__related {
        flex-wrap: wrap;
    }
}
