<template id="movie-card">
    <div class="movie__card" id=${movie.id}>
        <figure>
            <img id=${movie.id} class="movie__card--image" src="${movieApi.IMAGE_URL + movie.poster_path}">
        </figure>
        <div class="movie__card--body">
            <header class="movie__card--header">
                <h4 class="movie__card--title">${movie.title}</h4>
                <span class="movie__card--popularity">
                            ${(movie.popularity > 200) ? `<i class="fa fa-heart red" aria-hidden="true"></i>` : `<i class="fa fa-heart-o" aria-hidden="true"></i>`}
                        </span>
            </header>
            <summary class="movie__card--description">${genresName} ${movie.genre_ids}</summary>
            <footer class="movie__card--footer">
                <span class="movie_rating">
                            ${movieRating}
                        </span>
                <a class="movie__card--view" href="movie-detail.html?id=${movie.id}">Show more</a>
            </footer>
        </div>
    </div>
</template>